<div class="container  m-auto">
  <br>
  <h3>Intercooler.js</h3>
  <%= render "hora"%>
  <br>
  <div class="row border-colored rounded">
    <div class="col-sm bg_explicacion p-3 rounded border-right">
      <p>
        Es una biblioteca JavaScript que se utiliza para agregar funcionalidad a una página web sin tener que recargarla completamente. Es decir, permite actualizar dinámicamente una sección específica de la página sin tener que cargarla nuevamente.

        Un ejemplo simple de cómo se puede utilizar Intercooler.js es agregar un botón que, cuando se hace clic, muestra una nueva sección de contenido en la página web. Sin Intercooler.js, tendríamos que recargar toda la página para mostrar la nueva sección de contenido. Con Intercooler.js, podemos hacer lo siguiente:
      </p>
    </div>
    <div class="col-lg" style="align-self: center">
      <div id="example-box" class="text-center">
        <a ic-get-from="/ejemplo" class="btn btn-happyhues" ic-target="#example-box"><strong>Mostrar contenido</strong></a>
      </div>
    </div>
  </div>
</div>
