<div id="<%= dom_id book %>">
  <h6>
    <strong>Author:</strong>
    <%= book.author %>
  </h6>

  <h6>
    <strong>Title:</strong>
    <%= book.title %>
  </h6>

  <h6>
    <strong>Description:</strong>
    <%= book.description %>
  </h6>

</div>
